@page{
    size: landscape;
    margin: none;
}

@media print {
    *{
        visibility: hidden;
    }

    body {
        background-image: url(./cert.png);
        visibility: visible;
    }


    .vai {
        visibility: visible;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

}
